@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {

    font-family: 'Source Sans 3', sans-serif;
    color: white;
}


:root {
    --primary-color: #102A43;
    --secondary: #627D98;
    --success-color: #27AB83;
    --warning-color: #F0B429;
    --danger-color: #E12D39;

    --text-base: 14.5px;
    --bg-base: #F0F4F8;
    --hover: #e5ebf2;
    --border: #9fb3c876;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #d4d4d8;
    border-radius: 10px;
}